* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header img {
    height: 100px;
    padding: 10px;
}

header {
    background-color: black;
    
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container li{
    display: inline;
}

header .container a {
    text-decoration: none;
    color:  #DBA90D;
    font-size: 20px;
    padding-right: 15px;
    font-family: 'Oswald', sans-serif;
}

header .container a:hover {
    text-decoration: underline;
}

header {
    position: fixed;
    width: 100%;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    padding-top: 140px;
    color:  #DBA90D;
    text-decoration: underline;

}

h2 {
    text-align: center;
    padding: 30px;
    text-decoration: underline;
}

img {
    height: 300px;
}

#filmes img, p {
    display: inline-block;
}

#filmes img,p h3 {
    float: left;
    padding-right: 20px;
}

#series img, p {
    display: inline-block;
}

#series img,p h3 {
    float: right;
    padding-left: 20px;
}


p {
    font-size: 20px;
    color: #443a3a;
    padding-bottom: 20px;
}

h3 {
    font-size: 24px;
    padding-bottom: 6px;
}

section a  {
    background-color: #63c9b4;
    text-decoration: none;
    padding: 15px;
    color: black;
    border-radius: 20px;
    font-weight: bold;
}

section a:hover {
    background-color: #F03D41;
}

section div {
    padding-bottom: 50px;
}

.texto2 {
    text-align: right;
}

#series img {
    width: 600px;
}

footer {
    background-color: black;
}

footer p {
    align-items: center;
    padding: 20px;
    color: #DBA90D;
}

#series { 
    background-color: #ccc8c8;
}